.book-scroll-wrapper {
    flex: 1;  
    max-width: 1000px;
    align-self: flex-start;
}

.book-scroll {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    overflow-y: auto;
    max-height: auto; 
    padding-right: 0.5rem;
    column-gap: 1rem; 
    row-gap: 2rem; 
    padding: 0 0 20px 8px;
}

.book-scroll::-webkit-scrollbar {
    height: 8px;
}

.book-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.book-card {
    width: 200px;
    min-width: 200px;
    scroll-snap-align: start;
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.284);
}
  
.left-and-right {
    display: flex;
    align-items: flex-start; 
    gap: 2rem;         
    padding: 1rem;
  }

.form-container-right {
    flex-shrink: 0;     
    width: 330px;
    padding: 2rem;
    background-color: #28293d;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
  flex-direction: column;
}
  
.add-button {
    text-decoration: none;
    padding: 12px;
    color: white;
    border-radius: 8px;
    border: 1px solid #cdcee480;
    font-size: 16px;
    cursor: pointer;
    width: 330px;       
    text-align: center;
    margin-top:20px;
}

.right-column {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1rem;      
}

.book-image-placeholder {
    height: 280px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #fff;
    border-radius: 4px 4px 0 0;
}

.book-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.book-author {
    font-size: 0.9rem;
    font-weight: 300;
    color: #555;
    margin-bottom: 0.5rem;
}

.progress {
    background-color: #eee;
    border-radius: 4px;
    overflow: hidden;
}

.progress-bar {
    background-color: #28a745;
    color: white;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 0.85rem;
    font-weight: 500;
    transition: width 0.4s ease;
}

@media (max-width: 576px) {
    .book-card {
        width: 100vw;
        min-width: 100vw;
    }
}

/* Dark theme */
body.dark .book-card {
    background-color: #28293d; 
    color: #f1f1f1;
    box-shadow:  0 2px 5px #ada9ba57; 
}

body.dark .book-image-placeholder {
    background: #333;
    color: #ccc;
}

body.dark .book-author {
    color: #aaa;
}

body.dark .progress-bar {
    background-color: #34c759;
    color: #000;
}

.book-scroll-wrapper-left {
    flex: 1;
  }