.form-container {
    max-width: 400px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: #faf9f8;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.form-container input,
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 1rem;
}

.form-container input:focus,
.form-container select:focus {
    outline: none;
    border-color: #0d63fd;
    box-shadow: 0 0 5px rgba(13, 110, 253, 0.3);
}

.form-container button {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 8px;
    border: 1px solid #cdcee480;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 20px;
}

.form-container a {
    display: block;
    margin-top: 1rem;
    text-align: center;
    color: #cdcee4;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    margin: 0;
    margin-bottom: 0.3rem;
    padding: 0;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.dark {
    background-color: #1c1c27;
    color: #f1f1f1;
}

body.light {
    background-color: #F4F4F4;
    color: #000000;
}

.form-container {
    background-color: var(--bg-color, #f8f9fa);
    color: var(--text-color, #000);
}

/* light theme */
body.light .form-container {
    --bg-color: #f8f9fa;
    --text-color: #000
}

body.light input,
body.light select {
    background-color: #F4F4F4;
    color: #333;
    border: 1px solid #555;
}

body.light input:focus,
body.light select:focus {
    border-color: #D5E8EF;
    box-shadow: 0 0 5px rgba(99, 134, 185, 0.4);
}

/* dark theme */
body.dark .form-container {
    --bg-color: #28293d;
    --text-color: #f1f1f1;
    box-shadow:  0 2px 5px #ada9ba57;
}

body.dark input,
body.dark select {
    background-color: #1c1c27;
    color: white;
    border: 1px solid #555;
}

body.dark input:focus,
body.dark select:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 5px rgba(13, 110, 253, 0.4);
}

body.dark button {
    color: #cdcee4;
    background-color: #28293d;
}
