.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

.navbar-left,
.navbar-right {
  display: flex;
  gap: 12px;
  align-items: center;
}

.navbar-item {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.navbar-item::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  transition: width 0.3s ease;
}

.navbar-item:hover::after {
  width: 100%;
}

body.dark .navbar {
  background-color: #28293d;
  color: #fff;
  box-shadow:  0 2px 5px #ada9ba57;
}

body.dark .navbar-item {
  color: #cdcee4;
}

body.dark .navbar-item::after {
  background-color: #ada9ba;
}

body.dark .navbar-item:hover::after {
  background-color: #e2e6ea;
}


body.light .navbar {
  background-color: #b3bdd2b5;
  color: #1a1a1a;
  box-shadow: 0 2px 5px #b3bdd2f0;
}

body.light .navbar-item {
  color: #333;
}

body.light .navbar-item::after {
  background-color: #666;
}

body.light .navbar-item:hover::after {
  background-color: #000;
}
