.not-found-wrapper {
  display: flex;
  height: 93vh;
  width: 100%;
}

.not-found-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: stretch;
  padding: 20px;
  overflow: hidden;
}

.not-found-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1.2);
  font-size: 310px;
  color: #ada9ba57;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 0;
  pointer-events: none;
  letter-spacing: 20px;

}

.not-found-message {
  z-index: 1;
  text-align: left;
  font-size: 26px;
  margin-top: 20px;
  color: #e5e6ee;
}

.not-found-message h1 {
  margin-bottom: 60px;
  color: #cdcee4;
  transform: scaleY(1.1);
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}
.not-found-image-text{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleY(1.2);
  font-size: 100px;
  color: #ada9ba79;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 20px;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
}

.not-found-button {
  z-index: 1;
  align-self: flex-start;
  font-size: 20px;
  border-radius: 10px;
  color: #cdcee4;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  border: 1px solid #cdcee480;
}



.not-found-card {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #14141f;
  border-radius: 25px;
  margin: 25px;
  overflow: hidden; 
  box-shadow:  0 1px 3px #ada9ba4c;
}

.not-found-card img {
  height: 100%;
  object-fit: contain; 
}

.not-found-left {
  animation: slideInFromLeft 3s ease forwards;
}

.not-found-right {
  position: relative;
}

.not-found-image {
  opacity: 0; 
  animation: fadeIn 3.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
